*{

`/*didn't found a better solution to nuke all random lines on nav-bar*/`

`border: none !important;`

}

#nav-bar {

`background-color: transparent !important;`

`max-width: 96vw !important;`

`margin-top: -32px !important;`

`margin-left: 90px !important;`

height: 32px !important;

}

/*#TabsToolbar {

`background-color: #202020 !important;`

`height: 32px !important;`
`visibility: collapse !important;`
}*/

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] { visibility: collapse; } 

#tabbrowser-tabs {

`display: none !important;`

}

#titlebar {display: none !important;}

#main-window {-moz-appearance:none !important;}


#urlbar {

`max-width: 60vw !important;`

`margin-left: 12vw !important;`

`background-color: transparent !important;`

`box-shadow: 100px	 !important;`

`text-align: center !important;`

}

/*Align url bar to center*/

#urlbar-container {

-moz-box-pack: center !important;

}

#urlbar-background {

background-color: #121212 !important;

border: none !important;

}

#urlbar-input {

color: #E7E8EB !important;

text-align: center !important;

}

#urlbar-input:focus {

color: white !important;

}

#main-window,browser[type="content-primary"],browser[type="content"],tabbrowser#content,#content,browser[type="content"] > html{

 `background: #202020 !important;`

 `background: url('splashscreen.png') !important;`

 `background-size: 100% auto !important;`

 `align-content: center !important;`

}

#urlbar[breakout],#urlbar[breakout][breakout-extend] {

--urlbar-height: 28px !important;

--urlbar-toolbar-height: 30px !important;

width: 100% !important;

top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;

left: 0 !important;

}

#urlbar[breakout][breakout-extend] > #urlbar-input-container,

#urlbar-input-container {

height: var(--urlbar-height) !important;

width: 100% !important;

padding-block: unset !important;

padding-inline: unset !important;}

